.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  width: 20vh;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--costock-bg);
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}

.App-title {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.App-title > * {
  text-align: left;

  color: var(--costock-teal);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-centered-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px;
}

.App-centered-panel>* {
  flex: 1;
}
